page-login {
    ion-content{
        
        .scroll-content {
            background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fa5f68), color-stop(100%, #feb455)),
            

        }
    }
    .item {
        border-color: rgba(0, 0, 0, 0);
	    background-color: rgba(0, 0, 0, 0);
	    color: white;
    }
   .logo{
       
       margin-top: 50px;
       margin-bottom: 30px;

    
   }
   .rowStyle {
       background-color: white;
       padding-left: 10px;
       border-radius: 40px;
       margin-top: 10px;

       ion-icon{
           margin-top: 13px;
           margin-right: 10px;
       }
   }

}